@import "./../../styles/colors";
@import "./../../styles/configs";

.about {
  &__content-container {
    min-height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $breakpoint-down-sm) {
      padding: 60px 0;
    }
  }

  &__text {
    padding-top: 42px;
    margin-bottom: 132px;

    h2 {
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      color: $grey3;
      text-transform: uppercase;
    }

    p {
      padding-top: 32px;
      font-size: 20px;
      line-height: 1.75;
      opacity: 0.71;
      text-align: center;
    }

    @media screen and (max-width: $breakpoint-down-sm) {
      margin-bottom: 48px;
    }
  }


}