@import "./../../styles/colors";
@import "./../../styles/fonts";

.projects {
  display: flex;
  align-items: center;
  min-height: 842px;

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__text-block {
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $grey3;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: $grey8;
    }
  }

  &__button-block {
    margin-left: 68px;
  }
}
