@import "./../../styles/colors";
@import "./../../styles/configs.scss";
@import "./../../styles/fonts";

.projects {
  display: flex;
  align-items: center;
  min-height: 842px;

  &__title-block {
    padding-top: 60px;
    display: grid;
    grid-template-columns: minmax(0, 730px) 1fr;
    grid-column-gap: 68px;
    align-items: center;
    margin-bottom: 60px;

    @media screen and(max-width: $breakpoint-down-sm) {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 48px;
      justify-items: center;

    }
  }

  &__text-block {
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $grey3;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: $grey8;
    }

    @media screen and(max-width: $breakpoint-down-sm) {
      text-align: center;

    }
  }
}
