$white: #FFFFFF;
$grey1: #666666;
$grey2: #707173;
$grey3: #515151;
$grey4: #6d6e70;
$grey5: #656565;
$grey6: #606060;
$green-pale: #ADD136;
$green: #99c50a;
$blue: #26a6d1;
$blue-pale: #E2F8FF;
$yellow-pale: #F5F9EB;

