$white: #FFFFFF;
$grey1: #666666;
$grey2: #707173;
$grey3: #515151;
$grey4: #6d6e70;
$grey5: #656565;
$grey6: #606060;
$grey7: #f1f1f1;
$grey8: #8f8f8f;
$grey9: #f7f7f7;
$grey10: #e3e3e3;
$grey11: #8d8d8d;

$green-pale: #ADD136;
$green: #99c50a;

$blue: #26a6d1;
$blue-pale: #E2F8FF;

$yellow-pale: #F5F9EB;

$black: #484848;

