@import "colors";
@import "fonts";
@import "configs";

.content-container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (max-width: $breakpoint-up-xxs) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}


.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.img-contain {
  object-fit: contain;
  max-width: 100%;
  display: block;
  height: auto;
}


