@import "../../../styles/colors";

.slider-about {
  display: flex;
  align-items: center;
  max-width: 878px;

  &__text-wrapper {
    margin-left: 106px;

    h2 {
      font-size: 24px;
      color: $green-pale;
      font-weight: 400;
      margin-bottom: 28px;
    }

    p {
      font-size: 16px;
      opacity: 0.67;
      color: $grey6;
      line-height: 1.75;
    }
  }
}