@import "./../../styles/colors";

.navbar {
  display: flex;
  align-items: center;

  &__item {
    margin-left: 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $grey1;
    white-space: nowrap;
  }
}