.image-wrapper {
  &--icon {
    width: 58px;
    height: 58px;
  }

  &--glasses {
    width: 113px;
    height: 102px;
  }

  &--promo {
    max-width: 133px;
    max-height: 112px;
  }

  &--project {
    max-width: 300px;
    max-height: 226px;
  }

  &--testimonials {
    max-width: 60px;
    max-height: 60px;
  }
}