@import "./../../styles/colors";
@import "./../../styles/configs";

.testimonials {
  background: url("./../../assets/images/testimonials.png") no-repeat;
  background-size: cover;

  &__content-container {
    min-height: 608px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $breakpoint-up-sm){
      padding: 60px 0;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;

    h2 {
      font-size: 39px;
      font-weight: 600;
      line-height: 1.75;
      color: $green2;
      margin-bottom: 32px;
      text-align: center;
    }

    p {
      font-size: 19px;
      line-height: 1.75;
      text-align: center;
      color: $grey12;
    }

    @media screen and (max-width: $breakpoint-up-sm){
      margin-bottom: 36px;
    }
  }

}