@import './../../styles/colors';
@import './../../styles/configs';
@import './../../styles/fonts';

.button {
  color: $white;
  font-family: $main-font;
  opacity: 0.9;

  &--login {
    min-width: 100px;
    height: 37px;
    opacity: 0.81;
    border-radius: 18.5px;
    border: solid 1px $grey2;
    background-color: $green-pale;
    text-transform: uppercase;
    margin-left: 54px;

    @media screen and (max-width: $breakpoint-up-md) {
      margin-left: 32px;
    }
  }

  &--home {
    min-width: 254px;
    height: 73px;
    border-radius: 10px;
    background-color: $green;
    font-size: 20px;
    font-weight: 600;
  }

  &__promo {
    min-width: 187px;
    height: 51px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  &__promo--blue {
    background-color: $blue;
  }

  &__promo--green {
    background-color: $green;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: rgba(160,186,13,0.99);
  }
}