@import './../../styles/colors';
@import './../../styles/configs';
@import './../../styles/fonts';

.button {
  color: $white;
  font-family: $main-font;
  opacity: 0.9;
  border-radius: 10px;

  &--login {
    min-width: 100px;
    height: 37px;
    opacity: 0.81;
    border-radius: 18.5px;
    border: solid 1px $grey2;
    background-color: $green-pale;
    text-transform: uppercase;
    margin-left: 54px;

    @media screen and (max-width: $breakpoint-up-md) {
      margin-left: 32px;
    }
  }

  &--home {
    min-width: 254px;
    height: 73px;
    background-color: $green;
    font-size: 20px;
    font-weight: 600;
  }

  &__promo {
    min-width: 187px;
    height: 51px;
    font-size: 14px;
    font-weight: 600;
  }

  &__promo--blue {
    background-color: $blue;
  }

  &__promo--green {
    background-color: $green;
  }

  &__projects-member {
    min-width: 181px;
    height: 50px;
    opacity: 0.71;
    border: solid 1px rgba($grey3, 0.41);
    color: $grey3;
    font-size: 14px;
    font-weight: 600;
  }

  &__projects-details {
    max-width: 136px;
    height: 20px;
    opacity: 0.85;
    color: $black;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &__projects-details {
    max-width: 136px;
    height: 20px;
    opacity: 0.85;
    color: $black;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &__projects-details--long {
  }

  &__projects-details--short {
    display: none;
  }

  @media screen and (max-width: $breakpoint-down-sm){
    &__projects-details--short {
      display: block;
    }

    &__projects-details--long {
      display: none;
    }
  }
  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: rgba(160,186,13,0.99);
  }
}